<div class="row" ng-controller="AdminCtrl">
    <div class="col-md-12">
        <h2>Manage Users </h2>
        <hr>
        <div>
            <div class="col-lg-3 col-sm-3">Search:</div>
            <div class="col-lg-6 col-sm-6"><input type="text" class="form-control" ng-model="filterText" /></div>
            <div class="col-lg-3 col-sm-3"><button type="button" class="btn btn-default pull-right" ng-click="openEditModal($index, 'new', -1)">Create New User</button></div>
            <br />
            <br />
        </div>
        <div ng-repeat="alert in alerts">
            <br />
            <alert type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 10%;">ID</th>
                        <th style="width: 25%;">First Name</th>
                        <th style="width: 25%;">Last Name</th>
                        <th>Email Address</th>
                        <th style="width: 100px;">Actions</th>
                    </tr>
                </thead>
                <tbody ng-repeat="user in data | filter:filterText | limitTo: (10*(currentPage-1)) - filteredData.length | limitTo: 10">
                    <tr ng-mouseenter="setHoverId(user.id)" ng-mouseleave="setHoverId(-1)" style="height: 55px">
                        <td style="vertical-align:middle">
                            {{user.id | limitTo:5}}
                        </td>
                        <td style="vertical-align:middle">
                            {{user.first_name}}
                        </td>
                        <td style="vertical-align:middle">
                            {{user.last_name}}
                        </td>
                        <td style="vertical-align:middle">
                            {{user.email}}
                        </td>
                        <td data-title="'Actions'">
                            <div ng-show="hoverId === user.id">
                                <button type=" button" class="btn btn-primary" ng-click="openEditModal($index, 'edit', user.id)" style="vertical-align: middle;">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" class="btn btn-danger" ng-click="deleteItem('delete', user.id)" style="vertical-align: middle;">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <td colspan="5" align="center">
                    <pagination direction-links="false" total-items="filteredData.length" ng-model="currentPage" num-pages="smallnumPages"></pagination>
                </td>
                </tfoot>
            </table>
        </div>
    </div>
</div>